#custom {
    display: none;
}

.icons {
    display: none;
}
.page {
    float: right;
}

#table_1 {
    float: right;
    margin-top: -4%;;

}

#table_2 {
    float: right;
    margin-top: -7%;;

}

#my_custom {
    width: 99%;
}

#content {
    display: none;
}

#checkAll, #a {
    outline: none;
}

#message {
    color: red;
    display: inline;
}