<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.dao.ColumnMapper">
  <resultMap id="BaseResultMap" type="com.oa.model.Column">
    <id column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
  </resultMap>
  <sql id="Base_Column_List">
    column_id, column_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from column
    where column_id = #{columnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from column
    where column_id = #{columnId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oa.model.Column">
    insert into column (column_id, column_name)
    values (#{columnId,jdbcType=INTEGER}, #{columnName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oa.model.Column">
    insert into column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        column_id,
      </if>
      <if test="columnName != null">
        column_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oa.model.Column">
    update column
    <set>
      <if test="columnName != null">
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
    </set>
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oa.model.Column">
    update column
    set column_name = #{columnName,jdbcType=VARCHAR}
    where column_id = #{columnId,jdbcType=INTEGER}
  </update>
</mapper>