<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.dao.TableUserModelMapper">
  <resultMap id="BaseResultMap" type="com.oa.model.TableUserModel">
    <result column="assessment_id" jdbcType="INTEGER" property="assessmentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <insert id="insert" parameterType="com.oa.model.TableUserModel">
    insert into tableusermodel (assessment_id, user_id, type
      )
    values (#{assessmentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oa.model.TableUserModel">
    insert into tableusermodel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assessmentId != null">
        assessment_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assessmentId != null">
        #{assessmentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.oa.model.TableUserModel">
    <result column="assessment_id" jdbcType="INTEGER" property="assessmentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <insert id="insert" parameterType="com.oa.model.TableUserModel">
    insert into tableusermodel (assessment_id, user_id, type
      )
    values (#{assessmentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oa.model.TableUserModel">
    insert into tableusermodel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assessmentId != null">
        assessment_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assessmentId != null">
        #{assessmentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.oa.model.TableUserModel">
    <result column="assessmentid" jdbcType="INTEGER" property="assessmentid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <insert id="insert" parameterType="com.oa.model.TableUserModel">
    insert into tableusermodel (assessmentid, userid, type
      )
    values (#{assessmentid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oa.model.TableUserModel">
    insert into tableusermodel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assessmentid != null">
        assessmentid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assessmentid != null">
        #{assessmentid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>