<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.dao.TableModelMapper">
  <resultMap id="BaseResultMap" type="com.oa.model.TableModel">
    <result column="assessment_id" jdbcType="INTEGER" property="assessmentId" />
    <result column="column_id" jdbcType="INTEGER" property="columnId" />
  </resultMap>
  <insert id="insert" parameterType="com.oa.model.TableModel">
    insert into tablemodel (assessment_id, column_id)
    values (#{assessmentId,jdbcType=INTEGER}, #{columnId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.oa.model.TableModel">
    insert into tablemodel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assessmentId != null">
        assessment_id,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assessmentId != null">
        #{assessmentId,jdbcType=INTEGER},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>